# Web scraping tools
selenium==4.19.0
selenium-wire==5.1.0
requests>=2.31.0
beautifulsoup4>=4.12.3

# Data processing
pandas>=2.2.2

# Optional fallback or future use
playwright>=1.42,<2.0

# Compatibilité avec selenium-wire (éviter _saferef bug)
blinker==1.4

setuptools==68.2.2
