# Web scraping tools
selenium==4.19.0
selenium-wire==5.1.0
requests>=2.31.0
beautifulsoup4>=4.12.3


# Compatibilité avec selenium-wire (éviter _saferef bug)
blinker==1.4

setuptools==68.2.2

# Data analysis and visualization
pandas>=2.2.2
matplotlib>=3.7.1
seaborn>=0.12.2
ipython>=8.21.0
